Vincent Bedard <vedard@gmail.com>	Vincent Bédard <vedard@gmail.com>
Vincent Bedard <vedard@gmail.com>	Vincent <vedard@gmail.com>
Vincent Bedard <vedard@gmail.com>	unknown <vedard@gmail.com>
Vincent Bedard <vedard@gmail.com>	vedard <vedard@gmail.com>
Mikael Andries-Gounant <darkelliome@hotmail.com>	Ethilyk <darkelliome@hotmail.com>
Maxime Noel <xmaximenoelx@hotmail.com>	Maxinoume <xmaximenoelx@hotmail.com>
Stéphane Letarte-Tremblay <ltart.stephane@gmail.com>	Haraken <ltart.stephane@gmail.com>
Dominic Bouchard <domix24@hotmail.com>	Dominic <Domix24>
Dominic Bouchard <domix24@hotmail.com>	Dominic <domix24@hotmail.com>
